.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 2px solid var(--green);
}

.menu-items-container {
  display: flex;
  padding: 1em;
  flex-direction: column;
  gap: 1em;
  overflow-y: auto;
  overflow-x: hidden;
}