.node-container {
    display: flex;
    flex-direction: row;
    height: 1em;
    width: fit-content;
    user-select: none;
}

.node {
    color: var(--red);
    user-select: none;
}

.node-input
{
    color: var(--red);
    height: 2em;
}
