:root {
  font-family: "Avenir", GadGet, sans-serif;
  --gray: #e0e0e0;
  --dark-gray: #616161;
  --green: #33af0b;
  --red: #e82129;
  --font-size: x-large;
}

html, body {
  height: 100%;
  margin: 0;
  color: var(--green);
  background: var(--gray);
  font-size: var(--font-size);
}